// Caminhos
$caminho-imagens: '/src/img';

// Cores
$laranja-usp: #FFB500;
$ciano-usp: #1094AB;
$azul-icmc: #0A2C57;
$azul-aucani: #C5DAED;

// Imagens
$icmc-background: url(#{$caminho-imagens}/background/icmc-background.jpg);
$brickwall-background: url(#{$caminho-imagens}/background/brickwall.jpg);

// Tamanhos de elementos
$altura-header: 128px;
$altura-bandeira: 24px;
$largura-bandeira: 40px;
$altura-searchbar: 3.5em;
$altura-banner: 200px;
$altura-botao-fonte: 25px;
$largura-botao-fonte: 25px;

// Tamanhos de fonte
$banner-fontize: 4em;
$footer-fontsize: 1.5em;
$topico-fontsize: 1.8em;
$searchbar-fontsize: 1em;
$section-fontize: 1.5em;
$subtopico-fontsize: 1.35em;

// Limites de mídia (por hora não representam valores reais)
$celular-width: 4px;
$celular-height: 8px;
$tablet-width: 8px;
$tablet-height: 16px;
$computador-width: 32px;
$computador-height: 16px;