// Cores
$laranja-usp: #FFB500;
$ciano-usp: #1094AB;
$azul-icmc: #0A2C57;
$azul-aucani: #C5DAED;

// Formato da página
$largura-pagina: 80%;
$margem-pagina: calc((100% - $largura-pagina) / 2);

// Tamanhos de elementos
$header-mobile: 64px;
$header-computador: 128px;


$altura-bandeira: 24px;
$largura-bandeira: 40px;
$altura-banner: 200px;
$altura-botao-fonte: 25px;
$largura-botao-fonte: 25px;

// Limites de mídia
$celular-width: 480px;
$tablet-width: 768px;
$md-width: 1024px; // Resolução média
$hd-width: 1200px; // Resolução alta

// Tamanhos de fonte
$celular-fontsize: 10px;
$tablet-fontsize: 15px;
$md-fontsize: 17.5px;
$hd-fontsize: 20px;

@mixin formato-pagina($largura-pagina) {
    width: $largura-pagina;
    margin: 0 calc((100% - $largura-pagina) / 2);
}

@mixin banner-fontsize($base-fontsize) {
    font-size: calc($base-fontsize * 3);
}

@mixin footer-fontsize($base-fontsize) {
    font-size: calc($base-fontsize * 1.5);
}

@mixin topico-fontsize($base-fontsize) {
    font-size: calc($base-fontsize * 1.8);
}

@mixin section-fontsize($base-fontsize) {
    font-size: calc($base-fontsize * 1.5);
}

@mixin subtopico-fontsize($base-fontsize) {
    font-size: calc($base-fontsize * 1);
}