// Cores
$laranja-usp: #FFB500;
$ciano-usp: #1094AB;
$azul-icmc: #0A2C57;
$azul-aucani: #C5DAED;

// Formato da página
$largura-pagina: 80%;
$margem-pagina: calc((100% - $largura-pagina) / 2);
$altura-minima: 80vh;

// Tamanhos de elementos
$header-mobile: max(8vh, 80px);
$header-computador: 128px;

$largura-bandeira: 3vw;
$altura-banner: 200px;
$largura-botao-fonte: 1.75vw;

// Tamanhos de fonte
$banner-fontsize: 1.3rem;
$summary-fontsize: 0.9rem;
$footer-fontsize: 1.5rem;
$topico-fontsize: 1.8rem;
$section-fontsize: 1.1rem;
$subtopico-fontsize: 1rem;

@mixin formato-pagina($largura-pagina) {
    width: $largura-pagina;
    margin: 0 calc((100% - $largura-pagina) / 2);
}