@use './Base.scss' as base;

.homepage-body {
    color: black;

    @media screen and (orientation: portrait) {
        @include base.formato-pagina(100%);
    }

    @media screen and (orientation: landscape) {
        @include base.formato-pagina(base.$largura-pagina);
    }

    .carousel-container {
        @media screen and (orientation: portrait) {
            aspect-ratio: 2 / 1;
        }

        @media screen and (orientation: landscape) {
            aspect-ratio: 2.5 / 1;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;

        background-color: #EEEEEE;

        @media screen and (orientation: portrait) {
            margin-top: base.$header-mobile;
        }

        @media screen and (orientation: landscape) {
            margin-top: base.$header-computador;
        }

        .carousel {
            text-align: center;
            display: block;
            max-width: 100%;
            height: 100%;
        }

        .swiper {
            height: 100%;
            position: relative;



            @media screen and (orientation: portrait) {
                --swiper-navigation-size: 0;
            }

            @media screen and (orientation: landscape) {
                --swiper-navigation-size: 88px;
                --swiper-navigation-sides-offset: 0px;
                --swiper-theme-color: white;
                --swiper-pagination-top: 2px;
                --swiper-pagination-bottom: auto;
            }
        }

        .swiper-slide {
            height: 100%;
            object-fit: fill;

            img {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
            }
        }

        .slide-caption {
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
            color: white;
            background-color: rgba(0, 0, 0, 0.623);
            font-size: 2em;
            z-index: 1;
        }

        .swiper-button-next,
        .swiper-button-prev {
            opacity: 0.2;
            background-color: black;
        }

        .swiper-button-next:hover,
        .swiper-button-prev:hover {
            opacity: 1;
        }
    }
}