.homepage-body {
    color: black;
    width: 100%;
}

.main-section {
    /* background-size: cover; */
    background-size:100%;

    display: flex;
    justify-content: center;

    height: 98vh;
    width: 100%;
}

.searchbar-container {
    bottom: 10%;
    position: absolute;

    text-align: center;
}