@use '../Base.scss' as base;

.header-root {
    margin: 0;
    width: 100%;
    overflow: hidden;

    position: absolute;
    top: 0;
    z-index: 100;
    overflow: visible;

    .navbar {
        @media screen and (max-width: base.$tablet-width) {
            @include base.formato-pagina(100%);
    
            height: base.$header-mobile;
        }
    
        @media screen and (min-width: calc(base.$tablet-width + 1px)) {
            @include base.formato-pagina(base.$largura-pagina);
    
            height: base.$header-computador;
        }

        background-color: base.$azul-icmc;
        opacity: 0.85;

        height: 100%;
        width: 100%;
        align-items: center;
        display: flex;

        .navbar-left {
            float: left;
            margin-left: 1%;

            height: 100%;

            .logos {
                a {
                    align-items: center;
                    display: flex;
                    height: 100%;

                    img {
                        height: 85%;
                        transition: 50ms;
                    }
                }
            }
        }

        .navbar-center {
            float: center;
            max-width: 100%;
            flex-grow: 1;
            text-align: center;

            .topics {
                display: inline-flex;
                width: 100%;

                @media screen and (max-width: base.$tablet-width) {
                    @include base.topico-fontsize(base.$celular-fontsize);
                }
            
                @media screen and (min-width: calc(base.$tablet-width + 1px)) {
                    @include base.topico-fontsize(base.$md-fontsize);
                }

                p {
                    color: white;
                    font-weight: 400;
                    text-decoration: none;

                    margin: 0px 0px;
                }

                .subtopics {
                    @media screen and (max-width: base.$tablet-width) {
                        @include base.subtopico-fontsize(base.$celular-fontsize);
                    }
                
                    @media screen and (min-width: calc(base.$tablet-width + 1px)) {
                        @include base.subtopico-fontsize(base.$md-fontsize);
                    }

                    a {
                        color: white;
                        font-weight: 400;
                        text-decoration: none;

                        display: flex;

                        width: 100%;
                    }
                }
            }
        }

        .navbar-right {
            float: right;
            width: 20%;
            text-align: right;
       }
    }
}