@use '../Base.scss' as base;

.header-root {
    height: base.$altura-header;

    @media screen and (max-width: base.$tablet-width) {
        @include base.formato-pagina(100%);
        @include base.topico-fontsize(base.$celular-fontsize);
    }

    @media screen and (min-width: calc(base.$tablet-width + 1px)) {
        @include base.formato-pagina(base.$largura-pagina);
        @include base.topico-fontsize(base.$md-fontsize);
    }

    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar {
    background-color: base.$azul-icmc;
    opacity: 0.85;

    width: 100%;
    align-items: center;
    display: flex;
}

.navbar-left {
    float: left;
    margin-left: 1%;
    flex-grow: 1;
}

.navbar-center {
    float: center;
    text-align: center;

    min-width: 70%;
}

.navbar-right {
    float: right;
    margin-right: 1%;
    flex-grow: 1;
}

.logos {
    align-items: center;
    display: flex;
    height: base.$altura-header;
}

.logos img {
    height: base.$altura-header * 0.85;
    transition: 50ms;
}

.topics {
    display: inline-flex;
}

.topics p {
    color: white;
    font-weight: 400;
    text-decoration: none;

    margin: 0px 0px;
}

// .subtopics {
//     font-size: base.$subtopico-fontsize;
// }

.subtopics a {
    color: white;
    font-weight: 400;
    text-decoration: none;

    display: flex;

    width: 100%;
}

.flags {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.flags img {
    height: base.$altura-bandeira;
    width: base.$largura-bandeira;
}

.flags button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.options-root {
    align-items: center;
    display: flex;
    justify-content: center;

    width: 100%;

    height: base.$altura-botao-fonte;
}

.options-buttons {
    height: base.$altura-botao-fonte;
    width: 2 * base.$largura-botao-fonte;

    position: absolute;
}

.increase-button {
    height: base.$altura-botao-fonte;
    width: base.$largura-botao-fonte;

    position: relative;

    left: 0;
}

.decrease-button {
    height: base.$altura-botao-fonte;
    width: base.$largura-botao-fonte;

    position: relative;

    right: 0;
}