@use '../Base.scss' as base;

.dropMenu {
    display: flex;
    position: relative;

    flex-grow: 1;
    width: 100%;
    padding: 0;

    .dropMenuHead {
        margin: auto;
        text-align: left;
        position: relative;
        transition: 0.5s;
    }

    .dropMenuItens {
        background-color: base.$azul-icmc;

        display: block;
        min-width: 100%;

        top: 100%;
        position: absolute;

        white-space: nowrap;
    }

    a {
        width: 100%;
        background-clip: border-box;
        text-align: left;
    }

    a:hover {
        background-color: base.$azul-aucani;
        color: black;
    }
}