@use '../Base.scss' as base;

.page-root {
    @media screen and (orientation: portrait) {
        margin-top: base.$header-mobile;
    }

    @media screen and (orientation: landscape) {
        margin-top: base.$header-computador;
    }

    .page-banner {
        font-size: base.$hd-fontsize;
        overflow: auto;

        align-items: center;
        display: flex;

        @media screen and (orientation: portrait) {
            padding: 0 10px;
        }

        @media screen and (orientation: landscape) {
            padding: 0 10%;
        }

        .page-img-container {
            min-width: 30%;
            text-align: center;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                max-height: base.$altura-banner;
                padding: 5% 0;
            }
        }

        .page-title {
            flex-grow: 1;
            display: block;
            font-size: base.$banner-fontsize;

            h1 {
                margin-left: 5%;

                color: black;
            }

            .page-summary {
                display: grid;
                grid-template-columns: auto auto auto;

                @media screen and (orientation: portrait) {
                    display: none;
                }

                div {
                    padding: 10px 10px;
                    color: black;
                    font-size: medium;
                    cursor: pointer;

                    span {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}