@use '../Base.scss' as base;

.page-root {
    @media screen and (orientation: portrait) {
        margin-top: base.$header-mobile;
    }

    @media screen and (orientation: landscape) {
        margin-top: base.$header-computador;
    }

    .page-banner {
        height: base.$altura-banner;
        padding: 0 10%;
        font-size: base.$hd-fontsize;
    
        align-items: center;
        display: flex;
    
        h1 {
            margin-left: 5%;
        
            color: black;
        }
    }
    
    .page-img-container {
        min-width: 30%;
        text-align: center;
    
        img {
            height: base.$altura-banner * 0.75;
        }
    }
}