@use '../Base.scss' as base;

.page-body {
    min-height: 80vh;
    z-index: 0;

    @media screen and (max-width: base.$tablet-width) {
        @include base.formato-pagina(100%);
        @include base.footer-fontsize(base.$celular-fontsize);
    }

    @media screen and (min-width: calc(base.$tablet-width + 1px)) {
        @include base.formato-pagina(base.$largura-pagina);
        @include base.footer-fontsize(base.$md-fontsize);
    }

    .notfound-root {
        padding: 2% 0 5% 0;
    
        align-items: center;
        display: flex;
        justify-content: center;
    
        .notfound-content {
            color: black;
            font-size: 2em;
            font-weight: bolder;
            text-align: center;
        }
    }
    
    .wip-root {
        background-image: url('/src/img/background/brickwall.jpg');
        background-repeat: repeat;
        background-size: cover;
    
        padding: 2% 0 5% 0;
    
        align-items: center;
        display: flex;
        justify-content: center;
    
        .wip-content {
            text-align: center;
        }
    }
}