@use '../Base.scss' as base;

.popup-root {
    position: fixed;
    left: 0;
    right: auto;
    bottom: 50px;

    width: 100%;
}

.popup-content {
    text-align: left;
    width: 70%;
    
    margin: 0 auto;
    padding: 30px 20px;
    border-radius: 20px;

    color: white;
    background-color: black;
}

.popup-head {
    padding: 0;
    margin: 0;
}