@use '../Base.scss' as base;

.topic-section {    
    padding: 30px 10%;

    color: black;
    font-size: base.$section-fontize;
}

.topic-section a, .topic-section a:link, .topic-section a:visited {
    color: inherit;
    font-weight: bolder;
}
