@use '../Base.scss' as base;

.topic-root {
    margin-top: base.$altura-header;
    background-repeat: repeat;
    background-size: 25%;     
}

.topic-banner {
    height: base.$altura-banner;
    width: 100%;

    align-items: center;
    display: flex;
}

.topic-banner img {
    height: base.$altura-banner * 0.75;

    margin-left: 5%;
}

.topic-banner h1 {
    margin-left: 5%;

    font-size: base.$banner-fontize;
    color: black;
}
