@use '../Base.scss' as base;

.topic-section {
    padding: 50px 20%;

    color: black;
    font-size: base.$hd-fontsize;

    a,
    a:link,
    a:visited {
        color: inherit;
        font-weight: bolder;
    }

    .topic-title {
        margin: 0;
        position: relative;
    
        button {
            border: none;
            display: block;
        
            background-color: transparent;
            color: black;
        
            position: absolute;
        
            bottom: 0;
            right: 0;
        }
    }
    
    .topic-content {
        width: 100%;
    }
}