@use '../Base.scss' as base;

.homepage-body {
    color: black;
    width: base.$largura-pagina;
    margin: 0 base.$margem-pagina;  
}

.carousel-container {
    margin-top: base.$altura-header;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    background-color: #C5DAED;
}

$borda-carrossel: 10px;
.carousel {
    text-align: center;
    display: block;
    width: 100%;
    --swiper-theme-color: black;

    outline: $borda-carrossel solid black;
    outline-offset: -$borda-carrossel;
    background-color: white;
        
    z-index: 20;
}