@use '../Base.scss' as base;

.homepage-body {
    color: black;
    width: 100%;
}

.main-section {
    margin-top: base.$altura-header;

    display: flex;
    justify-content: center;
    
    z-index: 1;
    height: 98vh;
}

.carousel {
    width: 10px;
    border: 10px solid black;
}

// .carousel img {

// }
