@use '../Base.scss' as base;

.footer {
    position: relative;
    background-color: base.$azul-icmc;
    color: white;

    font-weight: bolder;

    @media screen and (orientation: portrait) {
        @include base.formato-pagina(100%);
        font-size: base.$footer-fontsize * 1.5;

        .text {
            font-size: 0.75em;
        }
    }

    @media screen and (orientation: landscape) {
        @include base.formato-pagina(base.$largura-pagina);
        font-size: base.$footer-fontsize;
    }

    h3 {
        text-decoration: underline;
    }

    a,
    a:link,
    a:visited {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        color: base.$laranja-usp;
    }

    .footer-row {
        display: flex;
        justify-content: center;

        padding: 25px 0;
        width: 100%;

        div {
            padding: 0 min(50px, 5%);
        }

        .footer-left {
            @media screen and (orientation: portrait) {
                width: 50%;
            }
        
            @media screen and (orientation: landscape) {
                width: 25%;
            }

            float: left;
            height: 100%;
        }

        .footer-center {
            width: 30%;
            height: 100%;

            padding: 0 20px;

            text-align: center;
            float: center;
        }

        .footer-right {
            @media screen and (orientation: portrait) {
                width: 50%;
            }
        
            @media screen and (orientation: landscape) {
                width: 25%;
            }
            
            height: 100%;
            float: right;
        }
    }
}