@use '../Base.scss' as base;

.footer {
    position: relative;
    background-color: var(--base-bg-color);
    color: var(--base-text-color);

    padding: 3vh 0;

    font-weight: bolder;

    @media screen and (orientation: portrait) {
        @include base.formato-pagina(100%);
        font-size: calc(base.$footer-fontsize * 1.5);
    }

    @media screen and (orientation: landscape) {
        @include base.formato-pagina(base.$largura-pagina);
        font-size: base.$footer-fontsize;
    }

    .footer-row {
        transition: font 250ms ease;

        padding: 35px 0;

        .footer-column {
            h3 {
                margin-top: 0;
                text-decoration: underline;
            }

            a,
            a:link,
            a:visited {
                transition: color 250ms ease;
                text-decoration: none;
                color: inherit;
            }

            a:hover {
                color: base.$laranja-usp;
            }

            .text {
                margin: 0;
                padding: 0;

                @media screen and (orientation: portrait) {
                    img {
                        height: 0.75rem;
                        width: 0.75rem;
                    }
                }

                @media screen and (orientation: landscape) {
                    img {
                        color: white;
                        height: base.$footer-fontsize;
                        width: base.$footer-fontsize;
                    }
                }
            }
        }
    }
}