.footer {
    display: flex;
    justify-content: center;

    padding: 25px 5%;
    width: 90%;
    
    background-color: #0A2C57;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}

.footer h3 {
    text-decoration: underline;
}

.footer a, .footer a:link, .footer a:visited {
    text-decoration: none;
    color: inherit;
}

.footer-left {
    min-width: 30%;
    float: left;
    text-align: left;
    height: 100%;
}

.footer-center {
    min-width: 30%;
    max-width: 50%;
    height: 100%;


    padding: 0 20px;

    float: center;
}

.footer-right {
    min-width: 20%;
    height: 100%;
    float: right;
}