.header-root {
    top: 0;
    position: absolute;
    width: 100%;    
    height: 96px;
    background: rgba(10, 44, 87, 0.85);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left {
    float: left;
}

.navbar-center {
    float: center;
    width: 70%;
    text-align: center;
}

.navbar-right {
    float: right;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
}

.logos img {
    height: 72px;
    margin-left: 10px;
    display: inline-block;
}

.topics {
    display: inline-block;
}

.linha a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    margin: 0px 15px;
}

.flags img {
    height: 18.25px;
    width: 30px;
    margin-right: 5px;
}