@use '../Base.scss' as base;

.header-root {
    background-color: base.$azul-icmc;
    opacity: 0.85;

    height: base.$altura-header;
    width: 100%;    

    position: fixed;
    top: 0;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar-left {
    float: left;
    margin-left: 2%;
}

.navbar-center {
    float: center;
    text-align: center;

    width: 70%;
}

.navbar-right {
    float: right;
    margin-right: 2%;
}

.logos {
    align-items: center;
    display: flex;
    justify-content: center;

    height: base.$altura-header;
}

.logos img {
    display: inline-block;

    height: base.$altura-header * 0.85;
    margin-left: 10px;
}

.logo-crint {
    transition: 50ms;
}

.logo-crint:hover {
    filter: brightness(0) saturate(100%) invert(79%) sepia(22%) saturate(6448%) hue-rotate(359deg) brightness(102%) contrast(105%);
    transition: 50ms;
}

.topics {
    display: inline-flex;
}

.topics a {
    color: white;
    font-size: base.$topico-fontsize;
    font-weight: bolder;
    text-decoration: none; 

    margin: 0px 0px;
}

.subtopics a {
    font-size: base.$subtopico-fontsize;
    font-weight: bolder;
    text-decoration: none;

    display: flex;

    width: 100%;
}

.flags img {
    height: base.$altura-bandeira;
    width: base.$largura-bandeira;
    margin-right: 5px;
}

.flags button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.options {
    display: flex;

    position: relative;

    height: base.$altura-botao-fonte;
    width: base.$largura-botao-fonte * 2;
}

.increase-button {
    position: absolute;
    height: base.$altura-botao-fonte;
    width: base.$largura-botao-fonte;

    left: 0;
}

.decrease-button {
    position: absolute;
    height: base.$altura-botao-fonte;
    width: base.$largura-botao-fonte;
    
    right: 0;
}