@use '../Base.scss' as base;

.dia-body {
    min-height: 40vh;
    z-index: 0;
    background-color: white;

    @media screen and (orientation: portrait) {
        @include base.formato-pagina(100%);
    }

    @media screen and (orientation: landscape) {
        @include base.formato-pagina(base.$largura-pagina);
    }

    .dia-chart-box {
        width: 100%;

        display: flex;
        flex-direction: row;

        .dia-chart {
            margin-right: 10%;
        }

        .dia-empty {
            transition: font 500ms ease;

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;

            margin-right: 10%;
        }

        .dia-options {
            transition: font 500ms ease;

            max-width: 30%;

            word-wrap: break-word;
            text-wrap: normal;

            .dia-options-title {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            .dia-options-item {
                margin-bottom: 1rem;

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type=number] {
                    width: 4rem;
                    font-size: 0.8rem;
                    padding: 0.5rem;
                    border: 1px solid gray;
                    border-radius: 0.5rem;
                    background: transparent;
                    color: black;
                    appearance: textfield;
                    -moz-appearance: textfield;
                }

                input[type=text] {
                    width: 15rem;
                    font-size: 0.8rem;
                    padding: 0.5rem;
                    border: 1px solid gray;
                    border-radius: 0.5rem;
                    background: transparent;
                    color: black;
                }
            }
        }
    }
}