@use '../Base.scss' as base;

.dia-body {
    min-height: 40vh;
    z-index: 0;
    background-color: white;

    @media screen and (orientation: portrait) {
        @include base.formato-pagina(100%);
    }

    @media screen and (orientation: landscape) {
        @include base.formato-pagina(base.$largura-pagina);
    }

    .dia-chart {
        width: 100%;

        display: flex;
        flex-direction: row;

        .dia-options {
            max-width: 30%;
            
            word-wrap: break-word;
            text-wrap: normal;

            .dia-options-title {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            .dia-options-item {
                margin-bottom: 1rem;
            }
        }
    }

    .dia-empty {
        width: 80%;
    }
}