@use '../Base.scss' as base;

.dropmenu {
    display: flex;
    position: relative;

    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    overflow: visible;

    .dropmenu-head {
        margin: auto;
        text-align: left;
        position: relative;
        transition: font 250ms ease;
        // transition: 0.5s;
    }

    .dropmenu-itens {
        background-color: base.$azul-icmc;

        display: block;
        min-width: 100%;

        top: 100%;
        position: absolute;

        white-space: nowrap;
    }

    a {
        width: 100%;
        background-clip: border-box;
        text-align: left;
    }

    a:hover {
        background-color: #020f20;
        color: black;
    }
}