.dropMenu {
    display: flex;
    position: relative;
}

.dropMenuHead {
    position: relative;
    transition: 0.5s;
}

.dropMenuItens {
    background-color: rgba(0, 0, 0, 0.5);
    
    display: block;
    min-width: 100%;
    padding: 0 5%;
    
    top: 100%;
    position: absolute;
    
    white-space: nowrap;
    
    transform-origin: top center;
}

.dropMenuItens *:hover {
    background-color: black;
}