@use '../Base.scss' as base;

.options-root {
    align-items: center;
    display: flex;
    justify-content: center;

    width: 100%;

    height: base.$altura-botao-fonte;

    .options-buttons {
        width: 2 * base.$largura-botao-fonte;

        position: relative;

        .increase-button {
            height: base.$altura-botao-fonte;
            width: base.$largura-botao-fonte;

            position: absolute;

            right: 0;
        }

        .decrease-button {
            height: base.$altura-botao-fonte;
            width: base.$largura-botao-fonte;

            position: absolute;

            left: 0;
        }
    }
}