@use '../Base.scss' as base;

.options-root {
    align-items: center;
    display: flex;
    justify-content: center;

    width: 100%;

    // height: base.$altura-botao-fonte;

    .options-body {
        width: 2 * base.$largura-botao-fonte;

        position: relative;

        .button {
            height: base.$altura-botao-fonte;
            width: base.$largura-botao-fonte;

            position: absolute;
        }

        .increase {
            right: 0;
        }

        .decrease {
            left: 0;
        }
    }
}