@use '../Base.scss' as base;

.fontsize-root {
    align-items: center;
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;

    width: 100%;
    max-height: 40%;

    @media screen and (orientation: portrait) {
        font-size: 9px;
    }

    @media screen and (orientation: landscape) {
        font-size: 12px;
    }

    .fontsize-body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .button {
            color: black;

            border-radius: 10px;

            cursor: pointer;

            @media screen and (orientation: portrait) {
                aspect-ratio: 3 / 2;
                min-height: 18px;
                width: 25%;

                font-size: clamp(9px, 2.5vw, 50px);
            }

            @media screen and (orientation: landscape) {
                width: 15%;
                height: 100%;

                font-size: 1em;
            }
        }

        .enabled {
            background-color: white;
        }

        .disabled {
            background-color: gray;
        }
    }
}