@use '../Base.scss' as base;

.options-root {
    align-items: center;
    display: flex;
    justify-content: center;

    width: 100%;

    .options-body {
        width: 2 * base.$largura-botao-fonte;

        position: relative;

        .button {
            @media screen and (orientation: portrait) {
                height: base.$altura-botao-fonte * 2 / 3;
                width: base.$largura-botao-fonte;
                font-size: 9px;
            }

            @media screen and (orientation: landscape) {
                height: base.$altura-botao-fonte;
                width: base.$largura-botao-fonte;
            }

            position: absolute;
        }

        .increase {
            right: 0;
        }

        .decrease {
            left: 0;
        }
    }
}