@use '../Base.scss' as base;

.flags {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

    button {
        width: 40%;
        background-color: transparent;
        border: none;
        cursor: pointer;

        img {
            aspect-ratio: 5 / 3;
            width: base.$largura-bandeira;
        }
    }
}