@use '../Base.scss' as base;

.flags {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

    @media screen and (orientation: landscape) {
        padding-bottom: 10px;
    }

    button {
        width: 40%;
        background-color: transparent;
        border: none;
        cursor: pointer;

        img {
            aspect-ratio: 5 / 3;
            @media screen and (orientation: portrait) {
                width: base.$largura-bandeira * 0.8;
            }
    
            @media screen and (orientation: landscape) {
                width: base.$largura-bandeira;
            }
        }
    }
}