@use '../Base.scss' as base;

.page-section {
    padding: 0 15%;

    color: black;
    font-size: base.$section-fontsize;

    a,
    a:link,
    a:visited {
        color: inherit;
        font-weight: bolder;
    }

    .page-title {
        margin: 0;
        padding: 50px 0;
        padding-right: 25px;
        position: relative;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: left;

        button {
            border: none;
            display: block;
            cursor: pointer;

            background-color: transparent;
            color: black;

            position: absolute;

            right: 0;
        }
    }

    .page-content {
        margin-top: 0;
        padding-top: 0;
        width: 100%;

        img {
            width: 100%;
        }
    }
}