@use '../Base.scss' as base;

.banner-root {
    @media screen and (orientation: portrait) {
        margin-top: base.$header-mobile;
    }

    @media screen and (orientation: landscape) {
        margin-top: base.$header-computador;
    }

    .banner-body {
        overflow: auto;

        align-items: center;
        display: flex;

        @media screen and (orientation: portrait) {
            padding: 0 10px;
        }

        @media screen and (orientation: landscape) {
            padding: 0 5%;
        }

        .banner-img {
            text-align: center;
            min-width: 30%;

            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (orientation: portrait) {
                max-width: 30%;
            }

            img {
                max-width: 100%;
                max-height: base.$altura-banner;
                padding: 5% 0;
            }
        }

        .banner-title {
            transition: all 250ms ease;

            @media screen and (orientation: portrait) {
                font-size: calc(base.$banner-fontsize * 1.25);
            }

            @media screen and (orientation: landscape) {
                font-size: base.$banner-fontsize;
            }

            flex-grow: 1;
            display: block;

            h1 {
                margin-left: 5%;

                color: black;
            }

            .banner-summary {
                transition: font 250ms ease;

                display: grid;
                grid-template-columns: 33% 33% 33%;
                font-size: base.$summary-fontsize;

                @media screen and (orientation: portrait) {
                    display: none;
                }

                div {
                    padding: 5px 10px;
                    color: black;
                    font-size: inherit;

                    display: flex;
                    align-items: center;

                    cursor: pointer;

                    span {
                        padding: 0 10px;
                    }
                }
            }

            .banner-summary:last-child {
                padding-bottom: 25px;
            }

            .banner-summary-button {
                text-align: right;
                color: black;
                font-size: base.$summary-fontsize;

                cursor: pointer;
            }
        }
    }
}