@use '../Base.scss' as base;

.page-section {
    padding: 0 15%;

    color: black;

    @media screen and (orientation: portrait) {
        font-size: calc(base.$section-fontsize * 1.5);
    }

    @media screen and (orientation: landscape) {
        font-size: base.$section-fontsize;
    }

    border-bottom: 2px black solid;
    border-collapse: collapse;

    a,
    a:link,
    a:visited {
        color: inherit;
        font-weight: bolder;
    }

    .section-title {
        transition: font 250ms ease;

        margin: 0;
        padding: 50px 0;
        padding-right: 25px;
        position: relative;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: left;

        div {
            margin-right: 20px;
        }

        button {
            border: none;
            display: block;
            cursor: pointer;

            background-color: transparent;
            color: black;

            position: absolute;

            right: 0;
        }
    }

    .section-content {
        transition: font 250ms ease;

        margin-top: 0;
        padding-top: 0;
        width: 100%;

        img {
            width: 100%;
        }

        .video {
            aspect-ratio: 560 / 315;

            @media screen and (orientation: portrait) {
                width: 100%;
            }
        
            @media screen and (orientation: landscape) {
                width: 80%;
                margin-left: 10%;
            }
        }
    }
}