.searchbar-root {
    border-radius: 50px;
    border: #222 solid 5px;
    background-color: #EEE;
    font-size: 3.5em;
    color: #222;
    padding: 10px 0px;
    display: flex;
}

.searchbar-root button {
    padding-right: 30px;
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: #222;
}

.searchbar-root input {
    padding-left: 30px;
    flex: 1;
    background-color: transparent;
    border: none;
    color: #222;
    font-size: 1em;
}

.searchbar-root input:focus {
    outline: none;
}