@use '../Base.scss' as base;

.wip {
    background-image: base.$icmc-background;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}